/* src/pages/ProductDetail.css */

.product-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 50px;
  
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.detail-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.detail-info {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  
}

.detail-info h2 {
  font-size: 32px;
  margin: 0;
  color: #333;
}

.detail-info p {
  font-size: 24px;
  color: #666;
}

.add-to-cart-btn {
  padding: 15px 30px;
  background-color: #ccc;
  color: grey;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-to-cart-btn:hover {
  background-color: grey;
  color: #ccc;
}
