.categories ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 90px;
    list-style-type: none;
    border-right: 1px solid rgb(160, 160, 160);
    
}
.i100{
    width: 400px;
    height: 340px;
}
.categories{
    display: flex;
    justify-content: space-between;
}