.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(160, 160, 160);
  gap: 200px;
  margin-top: 15px;
}

.header-container1 {
  padding: 20px;

  align-items: center;
}

.header-container2 ul {
  list-style-type: none;
  display: flex;
  gap: 45px;
}

a {
  text-decoration: none;
  color: black;
}

.header-container3 {
  display: flex;
  gap: 25px;
}

.user {
  padding: 3px;
}

.user:hover {
  color: white;
  background-color: rgba(219, 68, 68, 1);
  border: rgba(219, 68, 68, 1);
  border-radius: 50%;
}
.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 160px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-menu p {
  margin: 0;
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu p:hover {
  background-color: #f2f2f2;
}

@media (max-width: 480px) {
  .header-container2 ul {
    display: none;
  }
}
